<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Student</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <a routerLink="/quiz/maker" class="big-button">
                                    <span>Start a Quiz!</span>
                                </a>
                    </div>
                    <div class="col-md-5">
                        <a routerLink="/quiz/overview" class="big-button">
                                    <span>Something else!</span>
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>