<div class="row">
  <div class="col-md-12">
    <form ngNativeValidate #f="ngForm" (ngSubmit)="submitForm(f)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Login</h2>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="studentId">Student ID</label>
            <input #studentId="ngModel" ngModel required name="studentId" type="text" class="form-control" id="studentId" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" #email="ngModel" ngModel required name="email" class="form-control" id="email" >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" #password="ngModel" ngModel required name="password" class="form-control" id="password" >
          </div>
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" #firstName="ngModel" ngModel required name="firstName" class="form-control" id="firstName" >
          </div>
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" #lastName="ngModel" ngModel required name="lastName" class="form-control" id="lastName" >
          </div>

          <div class="panel-footer">
            <button class="btn btn-primary" id="save" type="submit">Register</button>
          </div>
        </div>
      </div>
    </form>

    <button class="btn btn-default btn-back" [routerLink]="['/']">To homepage</button>
  </div>
</div>