<div class="row">
    <div class="col-md-12">
        <form ngNativeValidate #f="ngForm" (ngSubmit)="saveQuiz(f)" *ngIf="!loading">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h2>Quizcreator</h2>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="title">Quiz title</label>
                        <input #title="ngModel" [(ngModel)]="quiz.title" required name="title" type="text" class="form-control" id="title" />
                    </div>

                    <div class="form-group">
                        <label for="quizCode">Quiz code</label>
                        <input #quizCode="ngModel" [(ngModel)]="quiz.quizCode" required name="quizCode" type="text" class="form-control" id="quizCode"
                        />
                    </div>

                    <hr/>
                    <div class="form-group">
                        <label for="question">Question title</label>
                        <input #question="ngModel" [(ngModel)]="quiz.questions[selectedQuestion].question" required name="question" type="text" class="form-control"
                            id="question" />
                    </div>

                    <div *ngFor="let answer of quiz?.questions[selectedQuestion]?.answers; let a=index">
                        <div class="form-group">
                            <label for="answercorrect{{a}}">Answer</label>
                            <input type="radio" value="true" [checked]="quiz?.questions[selectedQuestion].answers[a].correct === true" name="answercorrect"
                                id="answercorrect{{a}}" (change)="selectCorrectAnswer(selectedQuestion, a)">
                            <input #answer="ngModel" [(ngModel)]="quiz?.questions[selectedQuestion].answers[a].answer" required name="answer{{a}}" type="text"
                                class="form-control" id="answer{{a}}" />
                        </div>
                    </div>

                    {{selectedQuestion}}

                    <button class="btn btn-danger right" *ngIf="selectedQuestion !== 0" id="remove" type="button" (click)="remove()">Remove</button>
                    <button class="btn btn-primary" id="add" type="button" (click)="addNewQuestion()">Add Question</button>

                    <div class="pagination-box">
                        <ul class="pagination">
                            <li *ngFor="let question of quiz?.questions; let q=index" [ngClass]="{'active': q === selectedQuestion}">
                                <a class="hover-pointer" (click)="click(q)">{{q + 1}}</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" id="save" type="submit" [disabled]="!f.valid">Save Quiz</button>
                    <button class="btn btn-danger right" id="delete" (click)="deleteQuiz()" type="button">Remove Quiz</button>
                </div>

            </div>
        </form>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>