<div class="row">
    <div class="col-md-12">
        <form novalidate #f="ngForm" (ngSubmit)="saveQuiz(f)" *ngIf="!loading">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h2>Quizcreator</h2>
                </div>
                <div class="panel-body">

                    <div class="form-group" [ngClass]="{'has-feedback' : title.valid === true}">
                        <label for="title">Quiz title</label>
                        <input #title="ngModel" [(ngModel)]="quiz.title" required name="title" type="text" class="form-control" id="title" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" *ngIf="'title.valid === true'" aria-hidden="true"></span>
                    </div>

                    <div *ngFor="let question of quiz?.questions; let q=index">
                        {{question.question}}
                        <p-panel [header]="quiz.questions[q].question" [toggleable]="true">
                            
                            <div class="form-group" [ngClass]="{'has-feedback' : question.valid === true}">
                                <label for="question">Question title</label>

                                <input #question="ngModel" [(ngModel)]="quiz.questions[q].question" required name="question{{q}}" type="text" class="form-control"
                                    id="question{{q}}" />
                                <span class="glyphicon glyphicon-ok form-control-feedback" *ngIf="'title.valid === true'" aria-hidden="true"></span>
                            </div>

                            <div *ngFor="let answer of quiz?.questions[q]?.answers; let a=index">
                                <div class="form-group" [ngClass]="{'has-feedback' : answer.valid === true}">
                                    <label for="answercorrect{{a}}">Answer</label>
                                    <input type="radio" value="true" [checked]="quiz?.questions[q].answers[a].correct" name="answercorrect{{a}}" id="answercorrect{{a}}"
                                        (change)="selectCorrectAnswer(q, a)">
                                    <input #answer="ngModel" [(ngModel)]="quiz?.questions[q].answers[a].answer" required name="answer{{a}}" type="text" class="form-control"
                                        id="answer{{a}}" />
                                    <span class="glyphicon glyphicon-ok form-control-feedback" *ngIf="'title.valid === true'" aria-hidden="true"></span>
                                </div>
                            </div>
                            <p-footer>
                                    <button class="btn btn-danger" id="remove" type="button" (click)="remove(q)">Remove</button>
                                </p-footer>
                        </p-panel>
                    </div>

                    <button class="btn btn-primary" id="add" type="button" (click)="addNewQuestion()">Add Question</button>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" id="save" type="submit" [disabled]="!f.valid">Submit Quiz</button>
                </div>

            </div>
        </form>
    </div>
</div>