<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Admin</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                            <a routerLink="/quiz/creator" class="big-button">
                                <span>Create a Quiz!</span>
                            </a>
                    </div>
                    <div class="col-md-5">
                            <a routerLink="/quiz/overview" class="big-button">
                                <span>Quizzes Overview!</span>
                            </a>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                            <a routerLink="/quiz/live" class="big-button">
                                <span>Live Quiz!</span>
                            </a>
                    </div>
                    <div class="col-md-5">
                            <a routerLink="/transactions" class="big-button">
                                <span>Transactions overview!</span>
                            </a>
                    </div>
                    <div class="col-md-5  col-md-offset-1">
                            <a routerLink="/admin/student" class="big-button">
                                <span>Manage students!</span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>