<div class="col-md-6 col-md-offset-3" *ngIf="!quiz">
  <label>Quiz Identification:</label>
  <input [(ngModel)]="quizId" required name="quizId" type="text" class="form-control" id="quizId" />
  <a (click)="searchQuiz()" class="hover-pointer big-button">
    <span>Start the quiz!</span>
  </a>
</div>
<div *ngIf="quiz">
  <div class="row">
    <div class="col-md-11">
      <h1>{{quiz?.questions[selectedQuestion].question}}</h1>
    </div>
    <div class="col-md-1">
      <button *ngIf="!showAnswers" class="btn btn-success right" (click)="showAnswerToggle()" type="button">Show answers</button>
      <button *ngIf="showAnswers" class="btn btn-primary right" (click)="showAnswerToggle()" type="button">Hide answers</button>
    </div>
  </div>
  <div class="row">
    <div class="btn-answer-container">
      <div class="col-md-6 answer-box" *ngFor="let answer of quiz?.questions[selectedQuestion].answers; let a = index">
        <div class="inner-answer-box" [style.backgroundColor]="bgcolor[a]">{{answer.answer}}
          <br/> Answers: {{getAnswerCount(a)}}
          <br/>
          <i *ngIf="showAnswers && answer.correct" class="fa fa-check live-correct" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="pagination-box">
      <ul class="pagination">
        <li *ngFor="let question of quiz?.questions; let q=index" [ngClass]="{'active': q === selectedQuestion}">
          <a class="hover-pointer" (click)="click(q)">{{q + 1}}</a>
        </li>
      </ul>
    </div>
  </div>