<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 *ngIf="!quiz">Quiz</h2>
        <h2 *ngIf="quiz && !quizResult">{{quiz.title}}</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3" *ngIf="!quiz">
            <label>Quiz Identification:</label>
            <input [(ngModel)]="quizId" required name="quizId" type="text" class="form-control" id="quizId" />
            <a (click)="searchQuiz()" class="hover-pointer big-button">
              <span>Start the quiz!</span>
            </a>
          </div>
        </div>
        <div *ngIf="quiz && !quizResult">
          <div class="pull-right">
            <label for="questionSelector">Question</label>
            <select id="questionSelector" [ngModel]="selectedQuestion" name="questionSelector" (ngModelChange)="onChange($event)">
              <option *ngFor="let question of quiz?.questions; let a=index" [value]="a">{{a + 1}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="question">Question title</label>
            <input #question="ngModel" [(ngModel)]="quiz.questions[selectedQuestion].question" required name="question" type="text" class="form-control"
              id="question" />
          </div>

          <div class="btn-answer-container" *ngFor="let answer of quiz?.questions[selectedQuestion].answers; let a = index">
            <button class="btn btn-basic btn-answer" name="option{{a}}" id="option{{a}}" (click)="selectedAnswer = a"
              [ngClass]="{'btn-primary': a === selectedAnswer}">{{answer.answer}}</button>
          </div>

          <button class="btn btn-primary" id="save" type="button" (click)="submitAnswer()">Select answer </button>

          <button class="btn btn-primary" id="save" type="button" (click)="submitQuiz()">Submit Quiz</button>
        </div>

        <div *ngIf="quizResult">
          Answers correct: {{quizResult.percentage}}%!
        </div>

      </div>
    </div>
  </div>
</div>