<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Quiz</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3" *ngIf="!quiz">
            <label>Quiz Identification:</label>
            <input [(ngModel)]="quizId" required name="quizId" type="text" class="form-control" id="quizId" />
            <a (click)="startQuiz()" class="hover-pointer big-button">
              <span>Start the quiz!</span>
            </a>
          </div>
        </div>
        <div *ngIf="quiz && !quizResult">
          <p-carousel [value]="quiz.questions" numVisible="1">
            <ng-template let-question pTemplate="question">
              <label>{{question.question}}</label>
              <div class="btn-answer-container" *ngFor="let answer of question.answers; let a = index">
                <button class="btn btn-basic btn-answer" name="option{{a}}" id="option{{a}}" (click)="selectCorrectAnswer(question.index, a)"
                  [ngClass]="{'btn-primary': quiz?.questions[question.index - 1]?.answers[a].selected}">{{answer.answer}}</button>
              </div>
            </ng-template>
          </p-carousel>
          <button class="btn btn-primary" id="save" type="button" (click)="submitQuiz()">Submit Quiz</button>
        </div>
        <div *ngIf="quizResult">
          Answers correct: {{quizResult.percentage}}%!
        </div>
      </div>
    </div>
  </div>
</div> 59d7db64a413251d843d78c8