<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 *ngIf="!quiz">Quiz</h2>
        <h2 *ngIf="quiz && !quizResult">{{quiz.title}}</h2>
        <h2 *ngIf="quizResult">Answers correct: {{quizResult.percentage}}%!</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3" *ngIf="!quiz">
            <label>Quiz Identification:</label>
            <input [(ngModel)]="quizId" required name="quizId" type="text" class="form-control" id="quizId" />
            <a (click)="searchQuiz()" class="hover-pointer big-button">
              <span>Start the quiz!</span>
            </a>
          </div>
        </div>

        <div *ngIf="quiz">
          <h3 *ngIf="!quizResult">{{quiz.questions[selectedQuestion].question}}</h3>
          <h3 *ngIf="quizResult">{{quiz.questions[selectedQuestion].question}}</h3>

          <div class="btn-answer-container">
            <div *ngIf="!quizResult">
              <div *ngFor="let answer of quiz?.questions[selectedQuestion].answers; let a = index">
                <button class="btn btn-basic btn-answer" name="option{{a}}" id="option{{a}}" (click)="selectedAnswer = a" [ngClass]="{'btn-primary': a === selectedAnswer}">{{answer.answer}}</button>
              </div>
            </div>

            <div *ngIf="quizResult">
              <div *ngFor="let answer of quiz?.questions[selectedQuestion].answers; let a = index">
                  <button class="btn btn-basic btn-answer" name="option{{a}}" id="option{{a}}" (click)="selectedAnswer = a" 
                  [ngClass]="{'btn-primary': a === selectedAnswer, 'btn-danger': checkIfWrong(a, answer.answer)}">
                    <i *ngIf="answer.answer === quizResult.correctedAnswers[selectedQuestion].correctAnswer" class="fa fa-check correct" aria-hidden="true"></i>
                    {{answer.answer}}
                  </button>
                </div>
            </div>

            <button *ngIf="!quizResult" class="btn btn-primary" id="save" type="button" (click)="submitAnswer()">Select answer </button>

            <div class="pagination-box">
              <ul class="pagination">
                <li *ngFor="let question of quiz?.questions; let q=index" [ngClass]="{'active': q === selectedQuestion}">
                  <a class="hover-pointer" (click)="click(q)">{{q + 1}}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel-footer" *ngIf="!quizResult">
            <button class="btn btn-success" id="save" type="button" (click)="submitQuiz()">Submit Quiz</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>